<!DOCTYPE html>
<html>
<head>
	<title>Assistant</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
	<header>
      <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" onclick="window.history.back(1)"><button type="button" class="btn btn-outline-warning">Back</button><span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
        <div class="d-flex justify-content-center">
            <a class="navbar-brand" href="#"><i class="fas fa-chalkboard-teacher mr-2"></i>EzStudy Assistant</a>
        </div>
      </nav>
    </header>
    <br>
 <div>
	<div class="" >
  <strong class="d-flex justify-content-center"><i class="fab fa-android"></i>Wayne</strong>
  <small class=" d-flex justify-content-center time-right text-muted">11:00</small>
  <p class="d-flex justify-content-center">Hi, how can I help?</p>
</div>
<br>

<div class="">
  <strong class="d-flex justify-content-center"><i class="far fa-user"></i>John</strong>
  <small class=" d-flex justify-content-center time-right text-muted">11:00</small>
  <p class="d-flex justify-content-center">I want to learn advanced chemistry</p>
</div>
<br>

<div class="">
  <strong class="d-flex justify-content-center"><i class="fab fa-android"></i>Wayne</strong>
  <small class=" d-flex justify-content-center time-right text-muted">11:00</small>
  <strong class="d-flex justify-content-center">This is the most suitable course for you.</strong>>
  <a href="https://alison.com/course/chemistry-1" class="d-flex justify-content-center">https://alison.com/course/chemistry-1</a>
</div>
<br>
<br>
<br>
<br>
<br>

<div class="col-sm-11 d-flex justify-content-center">
    <form class="d-flex justify-content-center mr-2" >
        <iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/aa2fd708-218d-4bcc-bf1b-679c1b1a6c4b">
</iframe>
       <label for="inputEmail" class="sr-only">How can I help?</label>
      <input type="text" style="width: 100%" id="inputEmail" class="form-control" placeholder="How can I help?" >
      </form>
      <button id="submit" type="button" class="btn btn-outline-success d-flex justify-content-center">Send</button>
  </div>
<br>
<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-primary"><i class="fas fa-microphone"></i>Talk to my assistant</button>
</div>

</body>
</html>