<!DOCTYPE html>
<html>
<head>
	<title>EzStudy</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EzStudy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" onclick="location.href='{% url 'library' %}'">Library</a>
      </li>
    </ul>
  </div>
    <form class="form-inline my-2 my-lg-0">
      <a
      <a onclick="location.href='{% url 'SignIn' %}'" class="text-white">Sign In</a>
    </a>
    </form>
</nav>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<br>

<br>
<br>

      <div class="album py-5">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://www.thestudentroom.co.uk/attachment.php?attachmentid=749392&d=1527461662" data-holder-rendered="true">
                <div class="card-body">
                  <strong>Biology</strong>
                  <p class="card-text">Biology is the study of life.The study of biology incorporates everything imaginable related to the life on Earth. It can be very broad and focus on details regarding the entire planet or it may be very specific and study microscopic structures such as bacteria or DNA.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">You have learned 85%.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/fa/6926005ea411e490ff8d4c5d4ff426/chemistry_logo.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <strong>Chemistry</strong>
                  <p class="card-text">Chemistry relates to each and everything you can sense, from right down to the elemental level to massive complex structures. It deals with how things are constructed and formulated to how they break apart and the energy that is either absorbed or released in each of these processes.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">You have learned 65%.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://udemy-images.udemy.com/course/750x422/1017116_c55a.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <strong>Make A Website: HTML</strong>
                  <p class="card-text">HTML is the markup language that you surround content with, to tell browsers about headings, lists, tables, etc. CSS is the stylesheet language that you style the page with, to tell browsers to change the color, font, layout, and more.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">You have learned 95%.</small>
                  </div>
                </div>
              </div>
            </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
       <a onclick="location.href='{% url 'register' %}'" class="text-white">Sign Up and Name the Asistant</a>
    </blockquote>
  </div>
  <div class="card text-center">
  </div>
</div>


</body>
</html>

