<!DOCTYPE html>
<html>
<head>
	<title>EzStudy</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>


<body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fas fa-chalkboard-teacher mr-2"></i>EzStudy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
          <a class="nav-link active text-dark" onclick="location.href='{% url 'library' %}'"><button type="button" class="btn btn-outline-info">Library</button></a>
      </li>
        <li class="nav-item">

            <a class="nav-link active text-dark" onclick="location.href='{% url 'Ai' %}'"><button type="button" class="btn btn-outline-primary"><i class="fab fa-android mr-2"></i>My assistant</button></a>

        </li>
    </ul>
    <form class="form-inline my-2 my-lg">
      <h5 class="mr-sm-2">Welcome, {{e}}</h5>
      <a class="nav-link" onclick="location.href='{% url 'demo' %}'"><button type="button" class="btn btn-outline-danger">Log Out</button></a>

    </form>
  </div>
</nav>



      <div class="album py-5">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://udemy-images.udemy.com/course/240x135/955502_626c_3.jpg" data-holder-rendered="true">
                <div class="card-body">
                    <strong><a class="text-dark" href="https://www.udemy.com/biology-for-o-level-examinations-cxc-gcse-reproduction/">Biology</a></strong>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">Related from your last lesson, <i>Cellular Respiration</i>.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://udemy-images.udemy.com/course/240x135/565132_8721.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <strong><a class=" text-dark" href="https://www.udemy.com/learn-redox-reactions-in-easy-steps-chemistry/">Learn Redox Reactions In Easy Steps (Chemistry)</a></strong>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">You may interested.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://udemy-images.udemy.com/course/240x135/405926_02c8_2.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                	<strong><a class="text-dark" href="https://www.udemy.com/html-and-css-for-beginners-crash-course-learn-fast-easy/">HTML and CSS for Beginners - Build a Website & Launch ONLINE</a> </strong>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">You may interested.</small>
                  </div>
                </div>
              </div>
            </div>






    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>


</html>