<!DOCTYPE html>
<html>
<head>
	<title>Library</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
	<body>

    <header>
      <div class="navbar fixed-bottom navbar-light" style="background-color: #37474F;">
        <div class="container d-flex justify-content-between text-white">
          <a href="#" class="navbar-brand d-flex align-items-center text-white">
            <i class="fas fa-book-open mr-2"></i>Library
          </a>
        </div>
         <form class="form-inline my-2 my-lg-0">
      <a class="nav-link active" onclick="window.history.back(1)"><button type="button" class="btn btn-outline-light">Back</button></a>

    </form>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Library</h1>
          <p class="lead text-muted">Here will show you all of the courses. You can filter them to find the courses which you want.</p>


        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/fa/6926005ea411e490ff8d4c5d4ff426/chemistry_logo.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><strong><a href="https://alison.com/course/chemistry-1" class="text-dark">Chemistry</a></strong><br>Chemistry relates to each and everything you can sense, from right down to the elemental level to massive complex structures. It deals with how things are constructed and formulated to how they break apart and the energy that is either absorbed or released in each of these processes.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">Reviews: &#9733&#9733&#9733</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://www.thestudentroom.co.uk/attachment.php?attachmentid=749392&d=1527461662" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text"><strong>Biology</strong><br>Biology is the study of life.The study of biology incorporates everything imaginable related to the life on Earth. It can be very broad and focus on details regarding the entire planet or it may be very specific and study microscopic structures such as bacteria or DNA.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">Reviews: &#9733</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://images.theconversation.com/files/191827/original/file-20171025-25516-g7rtyl.jpg?ixlib=rb-1.1.0&rect=0%2C70%2C7875%2C5667&q=45&auto=format&w=926&fit=clip" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text"><strong>Physics</strong><br>Physics is the branch of science which deals with matter and its relation to energy.It involves study of physical and natural phenomena around us. Examples of these phenomena are formation of rainbow, occurrence eclipse, the fall of things from up to down, the cause of sunset and sunrise, formation of shadow and many more.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">Reviews: &#9733&#9733&#9733&#9733&#9733</small>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p> © EzStudy</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>


</body>

</body>
</html>